/* Introdução */


.carousel-control-prev-icon{
    width: 100px;
    color: aqua;
    background: #000;
}
/* Porque somos os líderes do mercado */

.titulo {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.divof{
    margin-left: 1.5rem;
}

.img-top{
    width: 500px;
    height: 500px;
}

.imgSobre {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

hr {
    border-radius: 50%;
    padding: 0.6px;
    margin: 0 10%;
    background-color: rgba(0, 0, 0, 0.10); 
}

.texto {
    width: 460px;
    height: 100%;
    font-size: 20px;
    color: #000;
}

.comoFuncionaImg {
    cursor: pointer;
}

.clicar-venda-1{
    padding: 8px 0;
    margin: 10px;
    width: 100%;
    align-items: center;
    font-weight: bolder;
    font-size: 1em;
    letter-spacing: 0.9px;
    line-height: 1.5em;
    border: none;
    border-radius: 8px;
    transition: 0.5s;	
    background: rgba(233, 200, 94);
    color: #000;
}
.clicar-venda-1:hover{
    cursor: pointer;	
    background: rgb(2, 53, 73);
    color: white;
}

.clicar-venda-2{
    padding: 8px 0;
    margin: 10px auto;
    width: 60%;
    align-items: center;
    font-weight: bolder;
    font-size: 1em;
    letter-spacing: 0.9px;
    line-height: 1.5em;
    border: none;
    border-radius: 8px;
    transition: 0.5s;	
    background: rgba(233, 200, 94);
    color: #000;
}
.clicar-venda-2:hover{
    cursor: pointer;	
    background: rgb(2, 53, 73);
    color: white;
}

/* Icones beneficios*/

.bg-icones{
    background-color: rgba(233, 200, 94);
}

.iconesPositivos {
    margin-top: 52px;
    width: 100%;
}

.div-zero{
    padding: 0px 10px;
}

.mobile-text{
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 0 5px;
}

.iconesPositivos h3 {
    color: #000;
    font-size: 18px;
}


.tamanho-icone {
    width: 95px;
}

.boxIcon {
    padding: 20px 0;
}

.map{
    margin: 1% 12% 3% ;
    display: block;
    border-radius: 10px;
}

@media screen and (max-width: 480px){
    body{
        width: 100%;
    }

    .img-top{
        width: 300px;
        height: 300px;
    }

    .imgSobre{
        width: 90%;
        height: 90%;
    }

    

    .divof{
        margin-left:0;
        padding-right: 10px;
    }
    .mao-mobile{
        width: 1%;
		display: block;
        margin: 0;
    }

    .boxicon{
        display: inline;
        margin-left: 300px;
        margin-right: 300px;
    }

    .mobile-text{
        width: 100%;
        padding: 0;
        margin: 0;
    }
	
}
