
footer{
	background-color: #032b3a;
}
  .rodape{
	width: 100%;
}
.ul-rodape{ 
  display: flex;
	width: 100%;
  justify-content: center;
	background-color: #032b3a;
	color: #ffffff;
}

.div-img-rp{
	margin: 0;
	padding: 20px;
	background-image: linear-gradient(#032b3a, #0a1418);
}
.topicos{
	width: 100%;
  padding: 10px;
  justify-content: center;
}

.link-rodape{
  text-decoration: none;
}

.link-rodape:hover{
  text-decoration: none;
}

.titulo-rodape{
	text-align: center;
}

p{
	margin: 0;
}
.txt-rodape, .click{
	text-decoration: none;
  font-size: smaller;
	width: 100%;
	text-align: center; 
  color: #ffffff;
}

.click-logo{
  width: 80px;
  margin: 10% 10%;
  display: inline;
  text-decoration: none;
}

.logo-rodape{
	width: 20%;
	display: inline-block;
}

.direitos-rodape{
  background-color:#0a1418;
	padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}
.icone{
	color: #37b33d;
}

.icone:hover{
	color: white;
}

.imagem-rodape{
	width: 15%;
	margin: 0 auto;
	padding-bottom: 20px;
	display: flex;
	text-align: center;
}

.whats{
	background: #000;
	max-width: 75px;
	border-radius: 100%;
	position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}

.icone-margem{
	color: #37b33d;
	padding: 12px;
	margin:0px 2px;
}

@media only screen and (max-width: 480px){
    .imagem-rodape{
		width: 70%;
		padding-bottom: 3%;
	}
}